.confirm-add-game {
  text-align: center;
  margin: 2em 0 4em 0;
}

.confirm-add-game h1 {
  margin-bottom: 1em;
}

.confirm-add-game-container {
  width: 50%;
  border: 1px solid black;
  margin: auto;
  padding: 2em;
}

#card-confirm {
  display: inline-flex;
}

.game-info-list {
  list-style: none;
}
