@import './_colors';

.header {
  background: $primary-color;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logged-in .display-name {
  margin-right: 1em;
}

// .navbar a {
//   margin-left: 1em;
//   text-decoration: none;
// }

.navbar-logged-in {
  display: flex;
  // list-style-type: none;
  align-items: center;
}
