@import './_colors';

.home-welcome {
  display: flex;
  background: $primary-color;
  color: $text-color-secondary;
  height: 80vh;
  background-image: url('/images/hockey-player-at-rink.jpg');
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 91%,
    0 100%,
    0% 80%,
    0% 20%
  );
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 91%, 0 100%, 0% 80%, 0% 20%);
}

.business-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  max-width: 60%;
  margin: auto;
  & .goalies-free {
    font-size: 0.6em;
  }
}

.business-description button {
  margin-top: 1em;
}

.upcoming-games {
  text-align: center;
  background-color: lightgrey;
}

.upcoming-games h2 {
  padding: 2em 0 2em 0;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3em;
}

.game-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/images/pond-rink.jpg');
  background-size: cover;
  width: 20em;
  min-height: 22em;
  border: 2px solid lightgrey;
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-radius: 10px;
  color: white;
}

.game-container .image-container {
  background-color: $primary-color;
  padding: 0.5em 0 1.5em 0;
  -webkit-clip-path: polygon(1% 0, 100% 0%, 100% 89%, 0% 100%);
  clip-path: polygon(0% 0, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: flex-start;
  // background-image: url('/images/connor.jpg');
}

.game-price {
  margin-left: 0.5em;
  border: 1px solid;
  padding: 0.3em;
  border-radius: 50%;
  background: lightgray;
}

.registration-status {
  background-color: darkslategray;
  padding: 0.7em;
  margin-top: 1em;
}

.game-skill {
  font-size: 1.5em;
  align-self: center;
}

.games .map-link {
  font-weight: 600;
}

.game-details-container {
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.game-details-container .skill {
  font-size: 1.3em;
}

.game-details-container .slots {
  color: red;
  font-size: 1.3em;
}

.game-details {
  margin: 1em auto 0 auto;
}

.choose-game-modal {
  height: 500em;
}

.game-details-modal {
  margin: 1em;
}

.game-details-modal h1 {
  margin-bottom: 0.5em;
  border-bottom: 2px solid black;
  color: $primary-color;
}

.upcoming-games .position,
.game-details-modal .position {
  color: red;
  margin-bottom: 1em;
}
