.login {
  // width: 25em;
  // background: black;
  // padding-bottom: 3em;
  // border-radius: 10px;
  // color: $text-color;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.login-input {
  width: 20em;
  margin-top: 1em;
  border-radius: 5px;
  font-size: large;
  padding: 0.4em;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}
:-moz-placeholder {
  opacity: 0.5;
}
::-moz-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder {
  opacity: 0.5;
}

.facebook-login-button,
.google-login-button {
  width: 200px;
  height: 40px;
}

.facebook-login-button {
  width: 230px;
  height: 70px;
}
