@import './_colors';

.navbar {
  background: $primary-color;
  display: flex;
  align-items: center;
  color: $text-color-secondary;
  font-size: 1.2em;
  justify-content: space-between;
  border-bottom: 5px solid $border-color-base;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar div {
  margin: 0.5em 1em 0.5em 1em;
  padding: 0 4em 0 4em;
}

.navbar a {
  margin-left: 1em;
  text-decoration: none;
}

.navbar-logged-in {
  display: flex;
}
